<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="openSaveForm()">Insertar</button>
</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha y hora de registro</th>
            <th scope="col">Aplicante</th>
            <th scope="col">Carrera</th>
            <th scope="col">Descripción</th>
            <th scope="col">Asesor</th>
            <th scope="col">Respuesta</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of lConsultation">
            <td>{{data.id}}</td>
            <td>{{data.queryDate}}</td>
            <td>{{data.applicant.names}}</td>
            <td>{{data.career.nombre}}</td>
            <td>{{data.query}}</td>
            <td>{{data.adviser.names}}</td>
            <td>{{data.answer}}</td>
            <td class="text-center">
                <div class="dropdown">
                    <a data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" (click)="delete(data.id)">
                                <i class="bi bi-trash"></i> Eliminar
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="openEditForm(data)">
                                <i class="bi bi-pencil-fill"></i> Editar
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>